/* Variaveis */
:root{
    --primary: #FFC636;
    --secondary: #0A0B5B;
}
/* Reset */
body, p, a, ul, li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* Base Styles */
body{
    background: var(--secondary);
    overflow-x: hidden;
    font-family: 'Rubic Regular';
}
.button{
    background: none;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    display: inline-block;
}
.button:hover{
color: #222;
background: var(--primary);
}
input, textarea{
    background: rgba(255, 255, 255, 0.05);
    padding: 10px 16px;
    border-radius: 20px;
    border: 2px solid #9893D8;
    color: #f2f2f2;
}

/* Fonts */
@font-face{
    font-family: 'Rubic Regular';
    src: url('assets/fonts/Rubik-Regular.ttf')
}
h1, h2, h3, h4{
    color: #DDDBFF;
    font-weight: normal;
}
p, a, li{
    color: #9893D8;
}

h1, h3{
    font-size: 1.2em;
}
h2{
    font-size: 1.6em;
}
h2{
    font-size: 1.1em;
}
.leading{
    font-weight: 1.1em;
}

/* Mobile styles */
.grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;  
}
.site-nav{
    margin: 0 20px;
}
.site-nav ul{
    display: none;
}
.site-nav h1{
    grid-column: 1/4;
    grid-row: 1;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--primary);
}
#welcome{
 padding: 0 20px 20px 20px ;
}
.welcome-text{
    grid-column: 1/6;
}
.welcome-img {
    grid-column: 6/9;
}
.welcome-img img{
    width: 200%;
}
.welcome-text a{
    margin: 20px 0;
}
#portfolio{
background: url('assets/square_bg.png');
background-repeat: no-repeat;
background-size: cover;
background-position: bottom;
padding: 30px 20px;
  }
#protfolio h3{
    margin-bottom: 0;
    text-align: center;
}

#portfolio a{
    grid-column: 1/9;
    margin: 20px 0;
    display: flex;
}

.projects a *{
    margin: 0 20px;
    max-width: 40%;
    align-self: center;
}
.projects h4{
    color: #9994f7;
}

#skills{
    padding: 30px 20px;
    background: #07083E;
}
#skills h3{
    text-align: center;
}
#skills ul{
    margin: 40px 0;
}
#skills li{
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    grid: span 4;
}
#skils img{
    height: 80px;
    margin: 10px auto;
}


#contact{
    padding: 30px 20px;
    background: #080936;
}
#contact form{
width: 80%;
max-width: 400px;
margin: 20px auto;
text-align: center;
}

#contact input, #contact textarea{
    width: 100%;
    margin: 100%;
}


/* small Tablets Styles*/
@media screen and (min-width: 620px){

}

/* large Tablets and laptop styles*/
@media screen and (min-width: 960px){
  body{
      font-size: 18px;
  }  
}

/* desktop Styles*/
@media screen and (min-width: 1200px){
    body{
        font-size: 20px;
    }  
}

/* grid testing*/
.projects{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.projects a{
    text-align: center;
    padding: 20px;
}

.projects img{
    max-width: 100%;
}
.projects a:nth-child(1){
    grid-column: 2/6;
    grid-rows: 1;
}

.projects a:nth-child(2){
    grid-column: 8/12;
    grid-rows: 1;
}

.projects a:nth-child(3){
    grid-column: 5/9;
    grid-rows: 2;
}

